<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/form}" th:object="${user}" method="post">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id=""><br>

    <label for="email">E:mail: </label>
    <input type="email" th:field="*{email}"><br>

    <label for="age">age: </label>
    <input type="number" th:field="*{age}"><br>

    <button>submit</button>
</form>
</body>
</html>
